/**
 *	Options bar styles
 **/
#options-bar
{
	background: @col_optionsbar_background;
	width: 30%;
	width: ~"calc(30% - 100px)";
	max-width: 400px;
	min-width: 200px;
	height: 100%;
	float: left;
	overflow: auto;

	input:focus, textarea:focus, select:focus, button:focus 
	{
	    outline: none;
	}

	section
	{
		background: @col_white;
		width: 90%;
		margin: 10px auto 0px auto;

		header
		{
			text-align: center;
			text-transform: uppercase;
			font-size: 1.2em;
			letter-spacing: 1.2px;
			padding: 10px;
			color: @col_white;

			&.green
			{
				background: #23bc9b;
			}

			&.blue
			{
				background: #22b4d9;
			}

			&.red
			{
				background: #d92244;
			}
		}

		fieldset
		{
			border: none;
			margin: 0px;
			padding: 10px;

			legend
			{
				font-size: 1em;
				color: @col_form_input_label;
			}

			.row
			{
				display: flex;
				width: 100%;
				flex-direction: row;

				&.title-value, &.title
				{
					margin: 0px 0px 5px 0px;
					justify-content: space-between;
				}

				&.controls
				{
					justify-content: space-between;
				}
			}

			output
			{
				text-align: right;
				font-family: @ff_OpenSans;
				font-size: 1em;
				color: @col_form_input_label;
			}

			button
			{
				background: @col_form_input_background;
				border: none;
				color: @col_form_input_active;
				height: 25px;
				width: 49%;
				.transition(.3s);

				&.save
				{
					background-image: url("@{spr_arrow-down}");
				}
				&.reset
				{
					background-image: url("@{spr_loop}");
				}
				&.save, &.reset
				{
					background-repeat: no-repeat;
					background-position:  15% 50%;
					background-size: 10px;
				}

				&:hover
				{
					background-color: @col_form_input_active;
					color: @col_white;
				}
			}

			.field
			{
				background: @col_form_input_background;

				//////////////////////////////////////
				// 
				// 	RANGE COMPONENTS
				// 
				// ////////////////////////////////////
				&.range
				{
					height: 25px;

					a
					{
						min-width: 30px;
						text-align: center;
						text-decoration: none;
						color: @col_form_input_active;
						font-size: 1.4em;
						line-height: 1.7em;
						.transition(.3s);

						&.minus
						{
							border-right: 1px solid #dddddd;
						}

						&.plus
						{
							border-left: 1px solid @col_white;
						}

						&:hover
						{
							background: @col_form_input_active;
							color: @col_white;
						}
					}

					div.container
					{
						flex: 2 auto;
						height: 100%;
						width: auto;
						border-left: 1px solid @col_white;
						border-right: 1px solid #dddddd;
						padding: 0px 10px;

						input[type="range"] 
						{
						    .appearance(none);
						    position: relative;
						    vertical-align: middle;
						    width: 100%;
						    height: 6px;
						    .border-radius(2px);
						    background: @col_form_input_inactive;
						    .box-shadow(0 1px 0 @col_form_input_inactive);
						    overflow: hidden;
							margin: 9px 0px;
							cursor: pointer;
						}

						input[type="range"]::-webkit-slider-thumb 
						{
							.appearance(none);
							background-color: @col_form_input_active;
							width: 20px;
							height: 10px;
						}
					}
				}	


				//////////////////////////////////////
				// 
				// 	SELECT COMPONENTS
				// 
				// ////////////////////////////////////

				&.select
				{
					width: 100%;
					background: @col_form_input_background url("@{spr_arrow-down2}") no-repeat 95% 50%;
					cursor: pointer;
					.transition(.3s);

					select 
					{
					    padding: 5px 8px;
					    width: 100%;
					    border: none;
					    box-shadow: none;
					    background-color: transparent;
					    background-image: none;
					    .appearance(none);
					    color: @col_form_input_active;
					    cursor: pointer;

					}

				    &:hover
				    {
				    	background-color: @col_form_input_active;
				    	color: @col_white;

				    	select
				    	{
				    		color: @col_white;
				    	}
				    }
				}	

				//////////////////////////////////////
				// 
				// 	SWITCH COMPONENTS
				// 
				// ////////////////////////////////////

				&.switch
				{
					input[type=checkbox] 
					{
						position: absolute;
						margin-left: -9999px;
						visibility: hidden;
					}
					
					label 
					{
						display: block;
						position: relative;
						cursor: pointer;
						outline: none;
						.selection(none);
						width: 100%;
						height: 25px;
						.transition(.3s);

						&:before, &:after 
						{
						  display: block;
						  position: absolute;
						  top: 0;
						  left: 0;
						  bottom: 0;
						  right: 0;
						  color: @col_form_input_active;
						  text-align: center;
						  text-transform: lowercase;
						  padding: 3px;
						}
					  
						&:hover
						{
							background: @col_form_input_active;
							color: @col_white;

							&:before, &:after
							{
								color: @col_white;
							}
						}
						
						&:before 
						{
						  content: attr(data-off);
						  .transition(.3s);
						  .backface-visibility(hidden);
						}

						&:after 
						{
						  content: attr(data-on);
						  .transition(.3s);
						  .transform(rotateY(180deg));
						  .backface-visibility(hidden);
						}
					}

					input[type=checkbox]:checked + label:before 
					{
						.transform(rotateY(180deg));
					}

					input[type=checkbox]:checked + label:after 
					{
						.transform(rotateY(0deg));
					}
				}
			}

			input
			{
				background: @col_form_input_background;
			}
		}
	}

	#info
	{
		color: @col_white;
		padding: 10px;
		font-size: 1.2em;

		h1
		{
			font-size: 2em;
			text-transform: uppercase;
			line-height: 1em;
		}

		h2
		{
			font-size: 1.2em;
			text-transform: uppercase;
			margin: 0px;
			text-decoration: underline;
		}

		p
		{
			font-size: 1em;
			line-height: 1.2em;
			color: @col_about_text;
		}

		ul
		{
			list-style: none;
			margin: 0px;
			padding: 0px;

			li
			{
				display: inline-block;

				a
				{
					color: @col_white;
				}
			}
		}

	}


	// 
	// 	Transition
	// 
	&[ui-view]
	{
		.transition(.3s);
		&.ng-enter, &.ng-leave
		{
			position: absolute;
			top: 100px;
		}

		&.ng-enter
		{
			.opacity(0);
		}

		&.ng-enter-active
		{
			.opacity(1);
		}

		&.ng-leave
		{
			.opacity(1);
		}

		&.ng-leave-active
		{
			.opacity(0);
		}
	}

}