<!-- Options -->
<article id="options">
	<form>
	  <!-- global -->
	  <section>
		<header class="green">Global</header>

		<!-- Quantity -->
		<range id="special" min="10" max="1000" value="20" title="Quantity"></range>

		<!-- Theme -->
		<dropdown title="Theme">
		  <option value="">default</option>
		  <option value="">default2</option>
		  <option value="">default3</option>
		  <option value="">default4</option>
		  <option value="">default5</option>
		</dropdown>

		<!-- Random -->
		<switch labelOn="oui" labelOff="non" on="true" title="random ?"></switch>

	  </section>

	  <section>
		<header class="blue">Controls</header>

		<fieldset>
		  <div class="row controls">
			<button class="reset field" type="button">reset</button>
			<button class="save field" type="button">save</button>
		  </div>
		</fieldset>
	  </section>

	</form>
</article>